<ion-view view-title="All Posts">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear icon ion-map"
                    ui-sref="map"
                    nav-direction="swap">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear icon ion-plus"
                    ui-sref="add">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="item item-divider flex" id="searchBar">
            <div id="searchBarBox" class="flex-item">
                <input
                    type="search"
                    id="search"
                    class="flex-item"
                    ng-model="search.place"
                    disabletap
                />
                <button class="button button-small button-icon icon ion-ios-close-empty flex-item"
                        ng-click="clearSearch()" ng-show="explicitSearch">
                </button>
            </div>
            <button class="button button-small button-icon icon ion-pinpoint flex-item"
                    ng-click="centerOnMe()">
            </button>
        </div>
        <div class="list">
            <a  class="item"
                ng-repeat="marker in reports.markers"
                ui-sref="report({reportId: marker.id})">
                <span class="item-note">
                    {{marker.distance}} km
                </span>
                <span>
                    <h2>{{marker.place}}</h2>
                    <p>{{marker.notes}}</p>
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>
