.hidden {
    display: none;
}
.flex {
    display: flex;
}
.flex > .flex-item {
    flex: auto;
}

map {
    display: block;
    width: 100%;
    height: 100%;
}
.scroll {
    height: 100%;
}
.angular-google-map {
    height: 100%;
}
.angular-google-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
}
#searchBarBox {
    position: relative;
}
#searchBar button {
    width: 0;
}
#searchBar > button {
    margin-right: -7px;
    padding: 0;
}
#searchBarBox button {
    background: linear-gradient(
        to right,
        rgba(255,255,255,0),
        rgba(255,255,255,0.95),
        rgba(255,255,255,1),
        rgba(255,255,255,1)
    );
    border: 0;
    float: right;
    padding-left: 20px;
    padding-right: 5px;
    position: absolute;
    right: -1px;
    top: 3px;
    width: auto;
}
#searchBar input {
    font: inherit;
    margin-right: 4px;
    width: 100%;
}
#mainContainer {
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
}
#mapContainer {
    min-height: 300px;
    position: relative;
    flex: 2;
}
#centerMarker {
    position: absolute;
    background-image: url(../img/location-outline.png);
    background-repeat: no-repeat;
    background-size: 50px;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-left: -25px;
    margin-top: -38px;
    height: 50px;
    width: 50px;
}
#still-active-button {
    display: flex;
}
#still-active-button button {
    margin-top: 1px;
    margin-bottom: 1px;
}

.item-floating-label .input-label {
    display: none;
}
.item-floating-label .input-label.has-input {
    color: #387ef5; /*theme color*/
    display: table;
    font-size: 10.5px; /*given 14px normal input height*/
}
textarea {
    min-height: 34px;
    padding-right: 24px;
    padding-top: 9px;
}
.item-toggle span,
.item-stacked-label {
    font-size: 14px;
}
#formContainer *:disabled {
    background: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#photoPreview {
    max-width: 100%;
}

.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.platform-android .action-sheet {
    align-content: center;
    margin: auto;
    max-width: 96vw;
    border-radius: 5px;
    /*margin: 0;*/
    margin-bottom: 10px;
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
    text-align: left;
    /*border-color: #e2e2e2;*/
    font-size: 16px;
    color: inherit;
}

.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
}

.platform-android .action-sheet .button {
    border-color: #e2e2e2;
    padding-left: 16px;
    color: #104e89;
}

.platform-android .action-sheet .button.destructive {
    color: red;
}

.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}

.platform-android .action-sheet-group {
    /*margin: 0;*/
    border-radius: 0;
    background-color: #fafafa;
}

.platform-android .action-sheet-cancel {
    display: none;
}

.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}
