map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
.angular-google-map {
    height: 100%;
}
.angular-google-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
}
#search {
    background: none;
    border: none;
    position: absolute;
}
#search label, #search input {
    font-size: 1em;
    height: 37px;
    max-width: 25em;
    padding: 0px 10px;
    width: 100%;
}
#search label {
    background-color: #fff;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.26);
    padding: 0;
}
#centerOnMe, #addReport {
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px #333;
    height: 3.1em;
    position: absolute;
    right: 10px;
}
#centerOnMe {
    bottom: 5em;
    right: 11px;
}
#addReport {
    bottom: 1em;
}
#addForm {
    margin-bottom: 0;
}
#addForm input {
    padding-left: 1em;
}
#mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#mapContainer {
  flex: 2;
}
